################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AlchemistNPC/v15/Server/sqlite3/storage.ide-wal
/.vs/AlchemistNPC/v15/Server/sqlite3
/AlchemistNPC.sln
/AlchemistNPC.csproj
/obj/Release/AlchemistNPC.csproj.CoreCompileInputs.cache
/obj/Debug
/AlchemistNPC.csproj.user
